<!DOCTYPE httml>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather REST</title>
        <script type="text/javascript" src="/js/weather.js"></script>
    </head>
    <body>
        <h1>Welcome to the REST based Weather</h1>
        <div id="user-weather">
            
        </div>
    </body>
</html>